* {
    background-color: #f808bc;
    font-family: 'caramel mocacino';
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}


img {
    height: 250px;
    width: auto;
    border-radius: 35%;
    cursor: pointer;   
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
    }

p {
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#scoreBoard p {
    font-size: 30px;
    color: white;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resultDisplay {
    font-size: 60px;
    color: lime;
    background-color: black;
    margin-top: 20px;
    margin-bottom: -30px;
}

#winnerDisplay {
    font-size: 80px;
    color: white;
    background-color: lime;
}

button {
    font-size: 32px;
    color: purple;
    border: none;
    border-radius: 20%;
    padding: 16px; 
}

.choose{
    font-size: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}